<a href="https://colab.research.google.com/github/xxream/python-programming/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First day :)

In [ ]:
print("This is Sparta")

This is Sparta

In [ ]:
def fun_area(r):
    area=3.14*r*r
    return area

In [ ]:
fun_area(13)

530.66

## Strings

In [ ]:
phrase= "This is sparta"

In [ ]:
print(phrase)

This is sparta

In [ ]:
print(phrase.lower())
# TO MAKE LOWERCASE

this is sparta

In [ ]:
print(phrase.upper())
# TO MAKE UPPERCASE

THIS IS SPARTA

In [ ]:
print(phrase.islower())
# TO CHECK LOWERCASE

False

In [ ]:
print(phrase.isupper())
# TO CHECK UPPERRCASE

False

In [ ]:
print(len(phrase))
# TO LENGTH OF THE STRING

14

In [ ]:
print(phrase[0])
# FOR FIRST CHARRACTER

T

In [ ]:
x=len(phrase)
print(phrase[x-1])
# FOR LAST CHARRACTER

a

## INDEX FUNCTION IN STRING

This will tell us where a specific character or string is in main string

In [ ]:
print(phrase.index("i")) 
# FOR CHARACTER

2

In [ ]:
print(phrase.index("sparta")) 
# FOR STRING

8

## phrase.replace()

for replacing the string or character

In [ ]:
print(phrase.replace("sparta", "america"))

This is america

In [ ]:
print(phrase)

This is sparta

## WORKING WITH **NUMBERS**

In [10]:
print(2)

2

In [11]:
print(2.096)

2.096

In [12]:
print(-2.6651)

-2.6651

TO CONVERT NUMBER TO STRING

In [13]:
num=5
print(num)
print(str(num))
x=str(num)
print(type(num))        # type before
print(type(x))          # type after

5
5
<class 'int'>
<class 'str'>

FUNCTIONS FOR NUMBERS

abs()    function

In [14]:
num = -5
print(abs(num))

5

pow() function

In [15]:
print(pow(3,2))
# will print 3^2

9

max()   function 

will return the larger of the two numbers passed

In [16]:
print(max(4,6))

6

min() function

will return the smaller of the two numbers passed

In [17]:
print(min(4,6))

4

round()   function 

will round the number

In [18]:
print(round(3.7))

4

## Import the math function

In [ ]:
from math import *
print(floor(3.7))
# floor()  function will get the lowest number possible by 
# removing the decimal place

print(ceil(3.7))

# oppposit of floor will give highest number posiible near that range

print(sqrt(36))
# will give square root

3
4
6.0

## LIST IN PYTHON

In [ ]:
friends=["ganu", "zandu", "lalu"]

In [ ]:
print(friends)

['ganu', 'zandu', 'lalu']

In [ ]:
newl= friends[::-1]
print(newl)
# TO REVERSE THE LIST

['lalu', 'zandu', 'ganu']

## LIST FUNCTIONS

In [ ]:
friends=["ganu", "zandu","lalu","kevin","karen ","toby"]
nums=[4,5,6,7,8,9,3,23]

EXTEND FUNCTION 

allow you to append a new list to end of first one

In [ ]:
friends.extend(nums)
print(friends)

['ganu', 'zandu', 'lalu', 'kevin', 'karen ', 'toby', 4, 5, 6, 7, 8, 9, 3, 23, 4, 5, 6, 7, 8, 9, 3, 23]

Append

to add elements to end of the list

In [ ]:
friends.append("lodu")
print(friends)

['ganu', 'zandu', 'lalu', 'kevin', 'karen ', 'toby', 4, 5, 6, 7, 8, 9, 3, 23, 4, 5, 6, 7, 8, 9, 3, 23, 'lodu', 'lodu', 'lodu', 'lodu']

insert(index, value)
to add elements at certain index

In [ ]:
friends.insert(1, "kelly")
print(friends)

['ganu', 'kelly', 'zandu', 'lalu', 'kevin', 'karen ', 'toby', 4, 5, 6, 7, 8, 9, 3, 23, 4, 5, 6, 7, 8, 9, 3, 23, 'lodu', 'lodu', 'lodu', 'lodu']

In [ ]:
friends.remove("lodu")
print(friends)

['ganu', 'kelly', 'zandu', 'lalu', 'kevin', 'karen ', 'toby', 4, 5, 6, 7, 8, 9, 3, 23, 4, 5, 6, 7, 8, 9, 3, 23, 'lodu', 'lodu']

# **Python for data analysis**

In [5]:
x=5
y=0.54
print(x)
print(y)
type(x)

5
0.54

int

In [6]:
type(y)

float

String = string is an alphanumeric data enclosed in parenthesis

In [9]:
z="I am learning python"
y="this is \nthe new string line"
x="this is \tgoing tobe a new tab"

In [10]:
print(z)
print(y)
print(x)

I am learning python
this is
the new string line
this is 	going tobe a new tab

python uses 0 based indexing

## **LIST**
Python does not have an Array type per say, but something called
a List that more or less serves the same function

In [16]:
a_list=[3,5,6,1,4,2,4,8,"asds"]

In [17]:
# TO REVERSE THE LIST
print(a_list[::-1])

['asds', 8, 4, 2, 4, 1, 6, 5, 3]

In [18]:
# TO PRINT LIST IN STEPS OF 1
print(a_list[::1])

[3, 5, 6, 1, 4, 2, 4, 8, 'asds']

## **TUPLES**
1.   This is the same thing as a list but the elements
inside cannot be changed
2.   They can be sliced the same way lists are

In [21]:
a_tuple=(1,2,3,4,5,6,"asds")

In [22]:
print(a_tuple)

(1, 2, 3, 4, 5, 6, 'asds')

## **DICTIONARY**


1.   These are the key value pairs and can be used for dealing with tables

In [23]:
a_dict={"a":"atul","b":"subhash","c":"narwade"}

In [24]:
# TO PRINT ALL THE VALUES
print(a_dict)

{'a': 'atul', 'b': 'subhash', 'c': 'narwade'}

In [25]:
# To get value with certain key
a_dict.get("b")

'subhash'

In [27]:
# ANOTHER WAYS OF FINDING KEYS
a_dict["a"]

'atul'

# SET
A set is unordered, unchangable way to store multiple variables without duplicates

In [28]:
a_set={"values","first","second"}

In [29]:
print(a_set)

{'first', 'second', 'values'}


## Non-primitive data structures
1.   **List** =>  a_list=[3,5,6,1,4,2,4,8,"asds"]
2.   **Tuples** =>  a_tuple=(1,2,3,4,5,6,"asds")
3.   **Dictionary** =>  a_dict={"a":"atul","b":"subhash","c":"narwade"}
4.   SET =>    a_set={"values","first","second"}