<a href="https://colab.research.google.com/github/xxream/python-programming/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First day :)

In [4]:
print("This is Sparta")

This is Sparta

In [1]:
def fun_area(r):
    area=3.14*r*r
    return area

In [2]:
fun_area(13)

530.66

## Strings

In [5]:
phrase= "This is sparta"

In [6]:
print(phrase)

This is sparta

In [7]:
print(phrase.lower())
# TO MAKE LOWERCASE

this is sparta

In [8]:
print(phrase.upper())
# TO MAKE UPPERCASE

THIS IS SPARTA

In [9]:
print(phrase.islower())
# TO CHECK LOWERCASE

False

In [10]:
print(phrase.isupper())
# TO CHECK UPPERRCASE

False

In [11]:
print(len(phrase))
# TO LENGTH OF THE STRING

14

In [12]:
print(phrase[0])
# FOR FIRST CHARRACTER

T

In [16]:
x=len(phrase)
print(phrase[x-1])
# FOR LAST CHARRACTER

a

## INDEX FUNCTION IN STRING

This will tell us where a specific character or string is in main string

In [18]:
print(phrase.index("i")) 
# FOR CHARACTER

2

In [19]:
print(phrase.index("sparta")) 
# FOR STRING

8

## phrase.replace()

for replacing the string or character

In [23]:
print(phrase.replace("sparta", "america"))

This is america

In [25]:
print(phrase)

This is sparta

## WORKING WITH **NUMBERS**

In [1]:
print(2)

2

In [2]:
print(2.096)

2.096

In [3]:
print(-2.6651)

-2.6651

TO CONVERT NUMBER TO STRING

In [6]:
num=5
print(num)
print(str(num))
x=str(num)
print(type(num))        # type before
print(type(x))          # type after

5
5
<class 'int'>
<class 'str'>

FUNCTIONS FOR NUMBERS

abs()    function

In [7]:
num = -5
print(abs(num))

5

pow() function

In [9]:
print(pow(3,2))
# will print 3^2

9

max()   function 

will return the larger of the two numbers passed

In [10]:
print(max(4,6))

6

min() function

will return the smaller of the two numbers passed

In [11]:
print(min(4,6))

4

round()   function 

will round the number

In [12]:
print(round(3.7))

4

## Import the math function

In [17]:
from math import *
print(floor(3.7))
# floor()  function will get the lowest number possible by 
# removing the decimal place

print(ceil(3.7))

# oppposit of floor will give highest number posiible near that range

print(sqrt(36))
# will give square root

3
4
6.0